.top{
  display: flex;
  height: 10vh;

}
.navOption{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  gap: 1rem;
  width: 100%;
  background: linear-gradient(90deg, #1a213f, #0e132b);
  border-top-right-radius: 20px;
}
.user:hover{
 cursor: pointer;
}