.sidebar {
  height: 88vh;
  /* background-color: #925fe2; */
  background-color: #9272c3;
  padding: 20px;
  margin: 0;
  color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar-item{
  margin-top:12px ;
  opacity: 0.6;
  list-style: none;
  padding: 12px;
  cursor: pointer;
}

.icon > svg{
  height: 100px;
  width: 100px;
}
.icon{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.rupee{
  font-weight: bold;
  font-size: 23px;
}
.sidebar-item:hover{
  border: 2px solid #8367ad;
  border-radius: 5px;
  padding: 10px;
  background-color: #8367ad;
  opacity: 0.9;
}
.sidebar-item.active{
  border: 2px solid #6b538f;
  border-radius: 5px;
  padding: 10px;
  background-color: #765b9f;
  opacity: 0.9;
  box-shadow:0px 2px 4px #5c477a;
}
