.container{
    display: flex;
    justify-content: center;
    height: 93vh;
    align-items: center;
}

.cardContainer{
    height: 80vh;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    background: #9272c3;
    box-shadow: 5px 5px 5px 5px rgb(164, 164, 190);
    
}

.cardContainer_left{
    flex: 0.6;
    padding: 2rem;
    text-align: center;
    
}
.cardleft_heading{
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.inputField{
    padding-inline: 1rem;
    padding-block: 0.6rem;
    outline: none;
    border-radius: 10px;
    border: 2px solid #bbbbbb;
    background: antiquewhite;
    width: 80%;
    max-width: 400px;
    box-shadow: 5px 4px 7px #433061;
}
.inputField:focus{
    background-color: #d1d0d0;
    border: 2px solid rgb(8, 8, 8);
}
.inputContainers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    gap: 1rem;
}
.buttonWithOutline{
    background: #9272c3;
    width: 66%;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    box-shadow:6px 4px 8px #121529;
    margin-top: 1rem;
}

.buttonWithOutline:active{
   transform: scale(0.95);
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.inputRow{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
}
.cardContainer_right{
    display: flex;
    flex: 0.4;
    background-color: whitesmoke;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    padding-inline: 1.2rem;
}

.errorMessage{
    color: red;
    margin: 0;
    border: 1px solid #ed000069;
    padding: 3px;
    background: #ff000017;
    border-radius: 12px;
}