.homeContianer{
    display: flex;
}
.leftContainer{
    flex: 0.2;
}
.rightContainer{
    flex: 0.8;
    background-color:#fefefe;
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


@media screen and (max-width:750px) {
    .homeContianer{

    }
    .leftContainer{
        flex: 0;
        display: none;
    }
    .rightContainer{
        flex: 1;
    }
}