.container{
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* justify-content: center; */
}
.cards{
    height: 20%;
    width: 80%;
    background: rgb(201, 163, 145);
    margin: 1rem;
}