.mainContainer {
  height: 100%;
  /* height: 93vh; */
  /* overflow-y: auto; */
  /* border: 1px solid red; */
}

.container {
  /* border: 1px solid green; */
  height: 92vh;
}
.topNav {
  display: flex;
  justify-content: space-between;
  margin-inline: 20px;
}
.studentleftprofile {
  align-self: center;
}
.studentleftprofile img {
  width: 90px;
  background: white;
  border-radius: 50%;
  margin-left: 1rem;
  min-width: 80px !important;
}
.studentDetail {
  height: 21vh;
  margin: 12px;
  border-radius: 9px;
  display: flex;
  background: linear-gradient(45deg, #807bb3, #b39cd5);
  display: flex;
  color: white;
  gap: 1.7rem;
}
.EnrolledCourses {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #d3d3d3 #ffffff;
  width: 48%;
  height: 60vh;
  background-color: rgb(231 219 198 / 82%);
  border-radius: 10px;
  box-shadow: 5px 5px 15px 3px rgb(164, 164, 190);
}
.righarea{
  width: 48%;
  display: flex;
  flex-direction: column;
}
.feesOverView{
  width: 100%;
  height: 40%;
  display: flex;
  background-color: rgb(231 219 198 / 82%);
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 5px 5px 15px 3px rgb(164, 164, 190);
}
.cards{
  display: flex;
    flex-direction: row;
    gap: 0.3rem;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
}
.fee{
    background: #b5a5d9;
    height: 7rem;
    border-radius: 10px;
    width: 6.2rem;
    padding-inline:2px ;
}
.actions {
  width: 100%;
  height: 40%;
  background-color: rgb(231 219 198 / 82%);
  border-radius: 10px;
  box-shadow: 5px 5px 15px 3px rgb(164, 164, 190);
  display: flex;
  gap:0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* assign course  styling */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modalBox select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.modalButtons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}



.bottomarea{
  display: flex;
  gap: 1.5rem;
  margin-inline: 1rem;
}

.courseCard {
  margin-inline: 0.5rem;
  border: 2px solid #cabedd;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 0.3rem;
  background: #e1cdff;
}
.courseCard:hover{
  border: 2px solid #9272c3;
}

.actionCards{
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 2.5rem;
  width: 13rem;
  cursor: pointer;
  background: #9d8ec6;
  border-radius: 5px;
}
.actionCards:hover{
  box-shadow: 2px 3px 3px 1px rgb(136, 136, 136);
}



@media screen and (max-width : 750px) {
  .container{
    flex-direction: row;
  }
}